@import "../../../styles.scss";

.div-pai {
    position: relative;

    .bg-logo {
        width: 20em;
        height: 40em;
        top: 200px;
        background: $primary-color;
    }
    .divfilho {
        position: absolute;
        top: 350px;
        left: 65px;

        .logo {
            width: 200px;
            height: 300px;
        }
    }
}
