@import "../../../styles.scss";

.div-pai {
    position: relative;

    .bg-logo {
        width: 30em;
        height: 50em;
        top: 200px;
        background: $primary-color;
    }
    .divfilho {
        position: absolute;
        top: 350px;
        left: 100px;

        .logo {
            width: 300px;
            height: 400px;
        }
    }
}
