.div-pai{
position: relative;

}
.divfilho{

    position:absolute;
    top: 350px;
    left: 100px;


}

.logo{
    width: 300px;
    height: 400px;
}
.bg-logo{
    width: 30em;
    height: 50em;
    /*  */
    top: 200px;
    background:  rgb(132, 8,126); 

}
