@import "../../../styles.scss";

.UltimosComentarios {
    margin-top: 6em;
    padding: 6em;
    display: flex;
    flex-direction: column;
    text-align: center;

    .titulo {
        color: $primary-color;
        font-size: 35px;
        text-align: justify;
        font-family: Rubik-Medium;
    }

    .comentarios {
        padding-top: 2em;
        text-align: justify;

        .nome {
            font-family: Rubik-Medium;
            color:  $secondary-color;
            text-align: justify;
        }
        .mensagem {
            font-family: Rubik-Regular;
            color:  $secondary-color;
            text-align: justify;
        }
    }
}
