.tela{
    display: flex;
    width: 100%;
    justify-content: center;
}

.section{
    
    width: 90%;
    display:grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 40em 1fr;
    gap: 1px 1px;
    grid-template-areas: "form img" "comentarios comentarios"; 
}



.form {
    
    grid-area: form; 
}

    
.img {

     grid-area: img; 

    }

    
.comentarios {

    grid-area: comentarios; 
    

}