$primary-color:#84087E;
$secondary-color:#515151;

@font-face {
    font-family: Rubik-Medium;
    src: url("../src/assets/fontes/Rubik-Medium.ttf");
}
@font-face {
    font-family: Rubik-Regular;
    src: url("../src/assets/fontes/Rubik-Regular.ttf");
}
