@font-face {
    font-family: Rubik-Medium;
    src: url('../../../assets/fontes/Rubik-Medium.ttf');
    
}

@font-face {
    font-family: Rubik-Regular;
    src: url('../../../assets/fontes/Rubik-Regular.ttf');
    
}
.formulario{

    display: flex;
    padding: 6em;


}


.form {
    display: flex;
    flex-direction: column;

   
}


.ng-invalid.ng-touched:not(form){
    border: 1px solid red;
}

.ErroPreenchimento{
    font-family: Rubik-Medium;

}

.titulo{

    color: rgb(132, 8,126);
    font-size: 45px;
    padding-bottom: 0.5em;
    padding-top: 0em;
    font-weight: bold;
    font-family: Rubik-Medium;



}

.subtitulo{

    font-weight: bold;
    font-size: 25px;
    font-family: Rubik-Regular;
    padding-top: 1.5em;



}

.inputNome{
    display: flex;
    flex-direction: row;
    background: #FDFDFE;
    color: rgb(132, 8,126);
    width: 600px;
    height: 50px;
    resize: none;
    font-size: 30px;
    overflow: hidden;
    border-color: rgb(132, 8,126);
    border-radius: 5px;

    

}
.inputComentario{
    display: flex;
    flex-direction: row;
    background: #FDFDFE;
    color: rgb(132, 8,126);
    width: 600px;
    height: 200px;
    resize: none;
    font-size: 20px;
    border-color: rgb(132, 8,126);
    border-radius: 5px;





}

.inputNome:hover, .inputComentario:hover{ 
    border: 1px solid #515151;
}

.subtitulo{

    color: rgb(81, 81,81);
}
.alert{
    color: black;
    border-color: red;
    background-color:rgba(255, 0, 0, 0.3); 
}

.botao {

    margin-top: 2.5em;
    color: #FDFDFE;
    background-color: rgb(132, 8,126);
    align-items: end;
    width: 170px;
    height: 60px;
    border-radius: 5px;
    font-family: Rubik-Medium;
    font-size: 20px;
    align-self: flex-end;
    border-color: rgb(132, 8,126);
    outline: none;    
    box-shadow: none;

}